<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="BasicHttpBinding_IEXO_WS_GP">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="EXO_WS_GP.Service1">
        <endpoint
       address="http"
       binding="wsHttpBinding"
       bindingConfiguration="BasicHttpBinding_IEXO_WS_GP"
       contract="EXO_WS_GP.IEXO_WS_GP"
       name="BasicHttpBinding_IEXO_WS_GP"/>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="EXO_WS_GP.svc"/>
        <add value="prueba.html"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="servidorSBO" value="xper-test01:30015" />
    <add key="servidorLicencias" value="xper-test01:40000" />
    <add key="BDSBO" value="SBOLANDE" />
    <add key="usuarioSBO" value="mperiz" />
    <add key="pwdSBO" value="M@rt1nN1c0" />
    <add key="usuarioHana" value="B1SQLUSER" />
    <add key="pwdHana" value="12eXo$18" />
    <add key="rutaLog" value="C:\inetpub\wwwroot\log\logWS_gp.txt" />
    <add key="AlmacenPrincipal" value="01LANDE" />
    <add key="ConexionSQL" value="Server=VMDES-9-2;Database=;User Id=sa;Password=Expertone.1;" />
    <add key="EmpresasGP" value="SBOLANDE#01LANDE;DEMO_BANKINTER#02" />
  </appSettings>
</configuration>
<!--ProjectGuid: {2CF473DE-60B0-472B-8132-1E756D0CA01D}-->