<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="BasicHttpBinding_IEXO_WS_GP">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8083/EXO_WS_GP.svc/http"
                binding="wsHttpBinding" bindingConfiguration="BasicHttpBinding_IEXO_WS_GP"
                contract="WS_GP.IEXO_WS_GP" name="BasicHttpBinding_IEXO_WS_GP" />
        </client>
    </system.serviceModel>
</configuration>